body
{
	margin-left: auto;
	margin-right: auto;
	background-color: lightgray;
	padding: 15px;
	text-align: center;
	font: 16px "Helvetica neue", Helvetica, Arial, sans-serif;
}

fieldset legend
{
	font-size: 20px;
	font-weight: bold;
}

fieldset p
{
	clear: both;
	padding: 5px;
	margin: auto;
}

fieldset label
{
	text-align: right;
	float: left;
	margin: 5px;
}

fieldset select,
fieldset input
{
	float: left;
	margin: 5px;
}

#grid
{
	display: grid;
	grid-template-columns: auto 350px 275px auto;
	grid-template-areas:
		". gAttr fAttr ."
		". state state ."
		". cButt cButt ."
		". outpu outpu .";
}

#grid > #generalAttributes {grid-area: gAttr;}
#grid > #fightAttributes {grid-area: fAttr;}
#grid > #controlButtons {grid-area: cButt;}
#grid > #lifestates {grid-area: state;}
#grid > #file {grid-area: outpu;}

#generalAttributes label
{
	width: 80px;
}

#generalAttributes select,
#generalAttributes input
{
	width: 185px;
}

#generalAttributes select
{
	width: 191px;
}

#fightAttributes label
{
	width: 110px;
}

#fightAttributes select,
#fightAttributes input
{
	width: 80px;
}

#fightAttributes select
{
	width: 86px;
}

#generalAttributes input.radio
{
	width: auto;
	float: none;
}

.state td
{
	border: 1px solid black;
}

.counter
{
	background-color: black;
	color: white;
}

.values label
{
	text-align: right;
	width: 80px;
	float: left;
	margin: 3px;
}

.values select,
.values input
{
	width: 80px;
	float: left;
	margin: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #888;
}

#states
{
	margin-left: auto;
	margin-right: auto;
}

#stateControl
{
	display: inline-block;
}

#output {
	text-align: left;
	background-color: black;
	color: white;
	outline: 1px solid #ccc;
	padding: 5px;
	margin: 5px;
}
